html {
  /* height: 100vh; */
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 174, 198)), to(#faa23c)) fixed;
}

.App {
  text-align: center;
  color: #fff;
  font-family: Helvetica;
  font-weight: 100;
  margin-bottom: 10%;
}

.App-title {
  margin-top: 10px;
  font-size: 40px;
  text-transform: uppercase;
  font-style: italic
}

.brand {
  letter-spacing: 3px;
  margin-bottom: 40px;
  font-style: normal;
  font-size: 60px;
  display: block;
  font-weight: 600;
  background: -webkit-linear-gradient(white, rgb(255, 174, 198));
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255,.7);
  text-shadow: 7px 7px 0 rgba(255,0,180,0.5);
  -webkit-animation: brand 1ms 250ms 3000;
  animation: brand 1ms 250ms 3000;
}

.Date {
  font-size: 40px;
  text-transform: uppercase;
  font-style: italic;
  animation: flash 1s .5 infinite;
  -webkit-animation: flash 1s .5s infinite;
}

.countdown {
  font-size: 21px;
  text-transform: lowercase;
  letter-spacing: .2em;
  font-style: normal;
  margin-top: 100px;
  margin-bottom: 10px;
}

.Clock {
  margin: 20px 0px 50px;
}

.Days-wrapper, .Hours-wrapper, .Minutes-wrapper, .Seconds-wrapper {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.Days, .Hours, .Minutes, .Seconds {
  margin: 0px 10px;
  font-size: 40px;
}

.Days-text, .Hours-text, .Minutes-text, .Seconds-text {
  margin: 0px 10px;
  font-size: 21px;
  letter-spacing: .2em;
  background: none;
}

hr {
  width: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* @keyframes track {
  from {letter-spacing: .35em;}
  to {letter-spacing: .2em;}
} */

@keyframes brand {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(-1deg);
  }
}

@-webkit-keyframes brand {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(-1deg);
  }
}

@keyframes flash {
  0% {
    opacity: 100;
  }
  49% {
    opacity: 100;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@-webkit-keyframes flash {
  0% {
    opacity: 100;
  }
  49% {
    opacity: 100;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@media screen and (max-width: 480px) {
  .Days-wrapper, .Hours-wrapper, .Minutes-wrapper, .Seconds-wrapper  {
    display: block;
    margin-top: 20px;
  }
  .countdown {
    margin-top: 50px;
  }
}

button {
  border-radius: 0px;
  font-size: 16px;
  background: none;
  border: 1px solid white;
  padding: 12px 22px;
  color: white;
  text-transform: uppercase;
}

button:hover {
  background: rgba(255,255,255,.2);
  cursor: pointer;
}

input {
  margin: 10px;
  padding: 12px 10px;
  border: 1px solid white;
  font-size: 16px;
  color:#faa23c;
  -webkit-appearance: none;
  border-radius: 0px;
}

::placeholder {
  color: #b2b2b2;
  font-weight: 100;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
